:host {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 3px;
    border: 5px solid #ccc;
    display: block;
    width: 31%;
    float: left;
}

.pokemon {
    align-content: center;
    margin: 0 auto;
}

img{
    width: 100px;
    height: 100px;
}
    